<div class="card card-body">
	<h3>QR code Generated</h3>
	<img src="{{url}}" style="width:200px;height:200px;">
</div>

<div class="btn btn-primary mt-2 tryAgain">Try Again</div>

<script>
function transac()
{
	console.log('transac called');
	web3.version.getNetwork((err, netId) => {
		if(netId==4)
		{
			if(web3.eth.accounts.length == 0)
				window.alert('Your browser is not web3 enabled. Consider using Metamask and ensure that you are logged in to it. Then try again ');
			else
			{
				kyc.addCustomer("{{id}}","{{signature}}","{{pkUser}}",(err,result)=>{
					if(!err)
					{
						console.log(result);
						window.alert('Data successfully pushed to blockchain');
						$.post('/ideas/sendEmail',{id:'{{id}}',text:"{{text}}",attachments:"{{url}}"},
							function(status)
							{
								console.log(status);
								if(status == 'err')
									console.log('email failed');
				
								else if(status=='success')
								{
									console.log('email sent successfully');
								}
							});
					}
					else
					{
						console.log(err);
						window.alert('Some Error occured. Please check logs');
					}
				});
			}
		}	
		else
		{
			window.alert('Please switch to rinkeby and try again')
		}
	})
}

	transac();

	$(".tryAgain").click(function(){
		transac();
	})

</script>
